.container {
    width: auto;
    height: 66.6%;

    margin: 1rem;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    
}