@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: "Pretendard Variable";
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}

body {
  margin: 0;
  font-family: "Pretendard Variable" ,'Open Sans', sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Ubuntu', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt-10{
  margin-top: 100px !important;
}

.mt-15{
  margin-top: 150px !important;
}

.ps-15{
  padding-left: 15rem;
}